<!-- <div *ngIf="weather">
    <div>{{location}}</div>
    <div>{{weather.date}}</div>
    <div>temp: {{weather.temp}}°C</div>
    <div>{{weather.desc}}</div>
    <div>wind: {{weather.windSpeed}} km/h</div>
    <div>wind direction: {{weather.direction}} degrees</div>
    <div>humidity: {{weather.humidity}}%</div>
    <div>pressure: {{weather.pressure}}hpa</div>
</div>
<div>
    <input type="text" placeholder="Enter location..." [(ngModel)]="location">
    <button mat-button (click)="getWeather()">Test</button>
</div>
<div>
    <mat-slide-toggle [(ngModel)]="isDarkMode" (click)="toggleDarkMode()"></mat-slide-toggle>
</div> -->
<div class="weatherRow" style="font-size: 30px; margin-top: 46px;">{{location}}</div>
<div class="weatherRow" style="font-size: 18px; margin-top: 11px;">{{date}}</div>
<div *ngIf="weather">
    <div class="weatherRow" style="margin-top: 40px;">
        <!--192x120?-->
        <img src="../../assets/img/{{weather.icon}}-{{mode}}.svg">
    </div>
    <div class="weatherRow" style="font-size: 60px;">{{weather.temp}}°C</div>
    <div class="weatherRow" id="description" style="font-size: 30px;">{{weather.desc | titlecase}}</div>


    <div class="weatherRow" style="font-size: 20px;">{{weather.windSpeed}} km/h {{directionTxt}}</div>
    <div class="weatherRow" style="font-size: 20px;">{{weather.humidity}}%</div>
    <div class="weatherRow" style="font-size: 20px;">{{weather.pressure}}hpa</div>
</div>