<div class="weatherRow" id="locRow"><img class="weatherIco" id="locIco"
        src="../../assets/img/location-{{mode}}.svg">{{location}}
</div>
<div class="weatherRow" id="weatherDate">{{date}}</div>
<div *ngIf="weather">
    <div class="weatherRow" id="weatherImgContainer">
        <img class="weatherImg" src="../../assets/img/{{weather.icon}}-{{mode}}.svg">
    </div>
    <div *ngIf="weather.temp" class="weatherRow" id="weatherTemp">{{weather.temp}}°C</div>
    <div *ngIf="weather.error">
        <div class="weatherRow" id="errorTop">Oops, something went
            wrong!</div>
        <div class="weatherRow" id="description" id="errorBot">(Perhaps you misspelled your location?)</div>
    </div>
    <div class="weatherRow" id="description">{{weather.desc | titlecase}}</div>
</div>
<form class="weatherRow weatherForm" autocomplete="off" id="weatherForm">
    <input type="text" id="weatherInput" #weatherLoc placeholder="Enter location..."
        (keyup.enter)="getWeather(weatherLoc.value)" limit="20">
    <button class="weatherButton" (click)="getWeather(weatherLoc.value)"><img src="../../assets/img/nearme-{{mode}}.svg"
            class="weatherBtnIco"></button>
</form>

<div *ngIf="weather" class="detailsContainer">
    <div *ngIf="!weather.error">
        <div class="detailsRow"><img class="weatherIco" src="../../assets/img/air-{{mode}}.svg">
            <div class="weatherDetail">{{weather.windSpeed}} km/h {{directionTxt}}</div>
        </div>
        <div class="detailsRow"><img class="weatherIco" src="../../assets/img/water-{{mode}}.svg">
            <div class="weatherDetail">{{weather.humidity}}%</div>
        </div>
        <div class="detailsRow"><img class="weatherIco" src="../../assets/img/meter-{{mode}}.svg">
            <div class="weatherDetail">{{weather.pressure}}hpa</div>
        </div>
    </div>
</div>

<div class="sliderRow">
    <img class=toggleIco src="../../assets/img/light-mode-{{mode}}.svg">
    <label class="switch modeToggle">
        <input type="checkbox" ngDefaultControl [(ngModel)]="isDarkMode" (click)="toggleDarkMode()">
        <span class="slider round"></span>
    </label>
    <img class=toggleIco src="../../assets/img/dark-mode-{{mode}}.svg">
</div>