<!-- <div *ngIf="weather">
    <div>{{location}}</div>
    <div>{{weather.date}}</div>
    <div>temp: {{weather.temp}}°C</div>
    <div>{{weather.desc}}</div>
    <div>wind: {{weather.windSpeed}} km/h</div>
    <div>wind direction: {{weather.direction}} degrees</div>
    <div>humidity: {{weather.humidity}}%</div>
    <div>pressure: {{weather.pressure}}hpa</div>
</div>
<div>
    <input type="text" placeholder="Enter location..." [(ngModel)]="location">
    <button mat-button (click)="getWeather()">Test</button>
</div>
<div>
    <mat-slide-toggle [(ngModel)]="isDarkMode" (click)="toggleDarkMode()"></mat-slide-toggle>
</div> -->
<div id="weatherMain">
    <div class="weatherRow">{{location}}</div>
    <div class="weatherRow">{{date}}</div>
    <div *ngIf="weather">
        <div class="weatherRow">{{weather.temp}}°C</div>
        <div class="weatherRow">{{weather.desc}}</div>
        <div class="weatherRow">{{weather.windSpeed}} km/h {{directionTxt}}</div>
        <div class="weatherRow">{{weather.humidity}}%</div>
        <div class="weatherRow">{{weather.pressure}}hpa</div>
    </div>
</div>