//light mode colors
$bg-light : #F5F5F5;
$txt-primary-light: rgba(3, 7, 11, 0.86);
$txt-secondary-light: rgba(3, 7, 11, 0.6);

//dark mode colors
$bg-dark: rgba(3, 7, 11, 0.86);
$txt-primary-dark: rgba(245, 245, 245, 0.88);
$txt-secondary-dark: rgba(255, 255, 255, 0.6);

//light mode style specifics
.lightMode{
  background-color: $bg-light;
  color: $txt-primary-light;
  #description{
    color: $txt-secondary-light;
  }
}

//dark mode style specifics
.darkMode {
  background-color: $bg-dark;
  color: $txt-primary-dark;
  #description{
    color: $txt-secondary-dark;
  }
  .slider:before{
    background-color: $bg-dark;
  }
  #weatherInput{
    color:$bg-light;
  }
}

html,body{
  height: 100%;
}

body{
  margin: 0;
  font-family: Montserrat;
}

.weatherRow{
  display: flex;
  flex-direction:row;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

#description{
  font-size: 30px;
}

#weatherImgContainer{
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.weatherImg{
  max-height: 135px;
  width: 190px;
}

#weatherInput {
  width: 230px;
  height: 50px;
  border: none;
  flex-grow:2;
  font-family: montserrat;
  font-size: 20px;
  padding: 0 20px 0 20px;
  background-color: rgba(0,0,0,0);
}

#weatherInput:focus-visible{
  outline: none;
}

.weatherButton{
  height: 50px;
  width: 50px;
  border: none;
  background-color: rgba(0,0,0,0);
}

.weatherButton:focus, .weatherButton:focus-visible {
  animation: rotate 0.75s ease-in-out 0s;
  border: none;
  outline: none;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}

.weatherForm{
  border: 1px solid #707070;
  border-radius: 16px;
}

@mixin weatherIco{
  width: 30px;
  height: 30px;
}

.weatherBtnIco{
  @include weatherIco();
}

.weatherBtnIco:hover{
  width: 35px;
  height: 35px;
  transition-duration: 0.4s;
}

.detailsContainer{
  align-items: left;
  margin: 0 auto;
  border: 1px solid #707070;
  border-radius: 16px;
  margin-top: 40px;
  height: 180px;
  width: 280px;
  padding: 0 20px 0 20px;
}

.weatherIco{
  @include weatherIco();
  display: inline-block;
  margin-right: 50px;
}

.weatherDetail{
  display: inline-block;
  font-size: 20px;
}

.detailsRow{
  display: flex;
  flex-direction:row;
  width: fit-content;
  overflow-wrap:break-word;
  margin: 25px 0 0 25px;
}

.sliderRow{
  display: flex;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.toggleIco{
  @include weatherIco();
}

.modeToggle{
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bg-dark;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 5px;
  background-color: $bg-light;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $bg-light;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

//specific styling for rows and contents

//location row
#locRow{
  font-size: 30px; margin-top: 46px;
}
//location icon
#locIco{
  margin: 0;
}
//date
#weatherDate{
  font-size: 18px; margin-top: 11px;
}
//temp
#weatherTemp{
  font-size: 60px; margin-bottom: -10px;
}
//errorTop
#errorTop{
  font-size: 30px;
}
//errorBot
#errorBot{
  font-size: 20px;
}
//weather form
#weatherForm{
  margin-top: 17px;
}









