@import '~@angular/material/theming';
@include mat-core();

$mat-primary-scheme: (
  100: #c7c7c7,
  500: #03070b,
  700: #512da8,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: #ffffff,
    700: #ffffff,
  )
);
$mat-accent-scheme: (
  100: #ffe57f,
  500: #ffd740,
  700: #ffc400,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: rgba(0,0,0,0.87),
    700: #ffffff,
  )
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

.lightMode{
  @include angular-material-theme($app-light-theme);
  background-color: #F5F5F5;
  color: rgba(3, 7, 11, 0.86);
}

// following section is for dark mode.
// use appropriate class name for darkMode
$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);
.darkMode {
  @include angular-material-theme($app-dark-theme);
  background-color: rgba(3, 7, 11, 0.86);
  color: rgba(245, 245, 245, 0.88);
}

html,body{
  height: 100%;
}

body{
  margin: 0;
  font-family: Montserrat;
}

#weatherMain{
  display: block;
}

.row{
  display: block;
  margin: 0 auto;
  width: fit-content;
}